*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80vw;
  height: 13vh;
  margin: auto;
  border-bottom: 3px solid #f7f8fd;
}

body .header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body .header .header-left h1 {
  font-family: "Nunito", sans-serif;
}

body .header .header-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  position: relative;
  height: 100%;
  padding: 0 75px;
}

body .header .header-left ul li {
  display: inline-block;
  margin: 0 13px;
}

body .header .header-left ul li a {
  color: #9c9c9c;
  font-family: "Kumbh Sans", sans-serif;
}

body .header .header-left ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  -webkit-transform: translateX(calc(var(--width) - 1.5 * var(--width)));
          transform: translateX(calc(var(--width) - 1.5 * var(--width)));
  height: 3px;
  background: #ff9a52;
  -webkit-transition: width .18s ease;
  transition: width .18s ease;
  border-radius: 1px;
}

body .header .header-left ul li a.mouseover::before {
  width: var(--width);
  -webkit-transform: none;
          transform: none;
}

body .header .header-left ul li a.mouseout::before {
  width: 0;
  -webkit-transform: none;
          transform: none;
}

body .header .header-left ul li a:hover {
  color: #858585;
}

body .header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Kumbh Sans", sans-serif;
}

body .header .header-right .cart {
  --display: flex;
  position: relative;
  margin: 0 40px 0 0;
}

body .header .header-right .cart > img {
  cursor: pointer;
}

body .header .header-right .cart::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: var(--display);
  content: '0';
  position: absolute;
  top: -4px;
  right: -4px;
  width: 17px;
  color: white;
  background: #ff7d1a;
  border-radius: 10px;
  font-size: 9px;
}

body .header .header-right .cart .wrapper {
  --distance: 22px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 6.5vh);
          transform: translate(-50%, 6.5vh);
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 39px -23px black;
          box-shadow: 0 20px 39px -23px black;
  opacity: 0;
  cursor: default;
}

body .header .header-right .cart .wrapper::before {
  --size: 15px;
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: var(--size);
  height: var(--size);
  background: #ffd2b3;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
          transform: translate(-50%, -50%) rotateZ(45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-clip-path: polygon(0 100%, 100% 0, 0 0);
          clip-path: polygon(0 100%, 100% 0, 0 0);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

body .header .header-right .cart .wrapper.show {
  opacity: 1;
  top: calc(50% - 1px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body .header .header-right .cart .wrapper.hide {
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body .header .header-right .cart .wrapper .caption {
  padding: var(--distance) 0;
  text-indent: var(--distance);
  font-size: 16px;
  font-weight: bold;
  border-bottom: 3px solid #f7f8fd;
}

body .header .header-right .cart .wrapper .info-container {
  padding: var(--distance);
}

body .header .header-right .cart .wrapper .info-container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9c9c9c;
  margin-bottom: var(--distance);
}

body .header .header-right .cart .wrapper .info-container .info .nav-product-img {
  height: var(--height);
  border-radius: 5px;
}

body .header .header-right .cart .wrapper .info-container .info .nav-product-info {
  margin: 0 15px;
}

body .header .header-right .cart .wrapper .info-container .info .nav-product-info p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body .header .header-right .cart .wrapper .info-container .info .delete {
  cursor: pointer;
}

body .header .header-right .cart .wrapper .info-container .check {
  width: 100%;
  padding: 18px 0;
  color: white;
  background: #ff7d1a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

body .header .header-right .profile {
  position: relative;
  height: 60px;
}

body .header .header-right .profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

body .header .header-right .profile svg {
  --border: 2.5px;
  --dis: calc(var(--border) - 2 * var(--border));
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(var(--dis), var(--dis));
          transform: translate(var(--dis), var(--dis));
  width: calc(100% + 2 * var(--border));
  height: calc(100% + 2 * var(--border));
  z-index: -1;
}

body .header .header-right .profile svg circle {
  stroke: #ff9a52;
  stroke-width: var(--border);
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: stroke-dashoffset 0.8s cubic-bezier(0.53, 1.19, 0.82, 1.11);
  transition: stroke-dashoffset 0.8s cubic-bezier(0.53, 1.19, 0.82, 1.11);
}
