// Variables

$mobile_size: 375px;
$desktop_size: 1440px;

$color_orange: hsl(26, 100%, 55%);
$color_pale_orange: hsl(25, 100%, 94%);
$color_very_vark_blue: hsl(220, 13%, 13%);
$color_dark_grayish_blue: hsl(219, 9%, 45%);
$color_light_grayish_blue: hsl(223, 64%, 98%);
$color_white: hsl(0, 0%, 100%);
$color_black: hsl(0, 0%, 0%); // (with 75% opacity for lightbox background)

$color_light_gray: hsl(0, 0%, 61%);

$font_kumbh_sans: 'Kumbh Sans',
sans-serif;

$font_size_para: 16px;

@mixin flex($dir: row) {
    display: flex;
    flex-direction: $dir;
    justify-content: space-around;
    align-items: center;
}

// Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {

    .header {
        @include flex();
        justify-content: space-between;
        width: 80vw;
        height: 15vh;
        margin: auto;
        border-bottom: 3px solid $color_light_grayish_blue;

        .header-left {
            @include flex();
            height: 100%;

            h1 {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

            ul {
                @include flex();
                justify-content: none;
                position: relative;
                height: 100%;
                padding: 0 75px;

                li {
                    display: inline-block;
                    margin: 0 10px;

                    a {
                        color: $color_light_gray;
                        font-family: $font_kumbh_sans;

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            width: 0;
                            transform: translateX(calc(var(--width) - 1.5 * var(--width)));
                            height: 3px;
                            background: $color_orange;
                            transition: width .18s ease;
                            border-radius: 1px;
                        }

                        &.mouseover::before {
                            width: var(--width);
                            transform: none;
                        }

                        &.mouseout::before {
                            width: 0;
                            transform: none
                        }

                        &:hover {
                            color: darken($color: $color_light_gray, $amount: 9);
                        }
                    }
                }
            }
        }

        .header-right {
            @include flex();
            height: 100%;

            .cart,
            .profile {
                margin: 0 20px;
            }

            .cart {
                position: relative;
                &::after {
                    @include flex();
                    display: flex;
                    content: '0';
                    position: absolute;
                    top: -4px;
                    right: -5px;
                    width: 20px;
                    height: 13px;
                    background: #ff7d1a;
                    color: white;
                    border-radius: 15px;
                    font-family: "Kumbh Sans", sans-serif;
                    font-size: 11px;
                }
            }

            .profile {

                img {
                    border: 2px solid $color_orange;
                    border-radius: 50%;
                }
            }
        }
    }
}